-#This lists all articles in the blog
#articles
  -for article in articles[0...3]
    .post
      %header
        %h1
          %a{:href => article.path}= article.title
        %span.date= article.date
      .content
        = article.summary
      .more
        %a{:href => article.path} read on »
#archives
  = archives[3..-1]
